%heading {
  font-family: $font-secondary;
  font-weight: 400;
}

.heading-1 {
  @extend %heading; 
  font-size: 4.5rem;
  color: $lilac-mist;

  &--light {color: $lilac-mist};
  &--dark {color: $virtuoso};
}

.heading-2 {
  @extend %heading;
  font-size: 4rem;
  font-style: italic;
  line-height: 1;

  &--light {color: $lilac-mist};
  &--dark {color: $virtuoso};
}

.heading-3 {
  @extend %heading;
  font-size: 2.5rem;
  line-height: 1;
  color: $blazing-bonfire;
  text-transform: uppercase;

  &--light {color: $lilac-mist};
  &--dark {color: $virtuoso};
}

.heading-4 {
  @extend %heading;
  font-size: 2.5rem;

  &--light {color: $lilac-mist};
  &--dark {color: $virtuoso};
}