//COLORS
$blonde-wood: #AB7741;
$blazing-bonfire: #FFA035;
$beachside-drive: #ACDBDB;
$shasta-lake: #355C74;
$flirt-alert: #BE3C37;
$beachside-flirt: linear-gradient(to right bottom, $beachside-drive, $flirt-alert);

$lilac-mist: #E4E4E7;
$ashberry: #A29FA8;
$virtuoso:#5D5558;

$color-white: #fff;
$polar-bear: #FAF4EC;

$limo-leather: #3B3C3B;
$color-black: #000;

//FONTS
$font-primary: 'Nunito', sans-serif;
$font-secondary: 'Montserrat', sans-serif;
$font-tertiary: 'Bebas Neue', cursive;

// RESPONSIVE BREAKPOINTS
$bp-extra-large: 75em; //1200px
$bp-large: 62.5em; //1000px
$bp-medium: 50em; //800px
$bp-small: 50em; //600px
$bp-extra-small: 25em; //400px

//ICONS

// globe = <i class="fa-solid fa-earth-americas"></i>
// USA Flag = <i class="fa-solid fa-flag-usa"></i>
// Map pin = <i class="fa-solid fa-map-pin"></i>
// Car key = <i class="fa-solid fa-key"></i>
// Arrow up = <i class="fa-solid fa-arrow-trend-up"></i>
// Road lock = <i class="fa-solid fa-road-lock"></i>
// Road = <i class="fa-solid fa-road"></i>
// Steering Wheel = <i class="fa-solid fa-steering-wheel"></i>
// Van = <i class="fa-solid fa-van-shuttle"></i>
// Truck = <i class="fa-solid fa-truck-front"></i>
// Tire = <i class="fa-solid fa-tire"></i>
// Tire Flat = <i class="fa-solid fa-tire-flat"></i>
// Email = <i class="fa-solid fa-envelope"></i>
// Message Arrow = <i class="fa-solid fa-paper-plane-top"></i>


